body {
    background: #f5f6fa;
}

.sidebar {
    width: 250px;
    height: 100vh;
    background: #E8C547;
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 40px;
    display: flex;
    flex-direction: column;
}

.sidebar a {
    color: #111;
    padding: 12px 20px;
    display: block;
    text-decoration: none;
    font-size: 20px;
    margin-left: 20px;
}

.sidebar a:hover {
    background: #f5f6fa;
    color: #111;
    border-radius: 30px 0 0 30px;
    margin-left: 20px;
}

.sidebar a.active {
    background: #f5f6fa;
    color: #111;
    border-radius: 30px 0 0 30px;
}

.content {
    margin-left: 250px;
    padding: 25px;
}

.navbar {
    margin-left: 250px;
    background: #fff;
    box-shadow: 0 0 10px #ccc;
}

.card {
    border: none;
    box-shadow: 0 0 10px #ddd;
}

.sidebar img {
    width: 80%;
    margin: 0 20px 40px 20px;

}

.logout-link {
    margin-top: auto;
}